<!DOCTYPE html>
<html>
  <head>
    <title>Confirmação de conta em VolunteeringIPS</title>
    <meta charset="UTF-8" />
  </head>
  <body
    style="
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    "
  >
    <%- include('partials/header'); %>

    <div style="padding: 25px 10px 10px 10px">
      <b style="font-size: 20px">Caro <%= params.firstName %> <%= params.lastName %>,</b>
      <br /><br />
      <p style="font-size: 14px">
        Por favor copie esse token <b><%= params.token %></b> e abra por esse
        <a href="carwashclub/reset_password">link</a> a sua aplicação.
      </p>
      <p>
        Seu cliente de email está abrindo para outro link? Por favor vá nas
        definições da aplicação e desmarque a opção de abrir links diretamente.
      </p>
      <p>
        GMail: Definições -> Definições Gerais -> Desmarque a opção de abrir
        links diretamente
      </p>
      <br />
      <b>
        <p>Atenciosamente,</p>
        <p>Car Wash Club</p>
        <p>E-Mail: joanacosta.costa007@gmail.com</p>
      </b>
    </div>
    <!-- <%- include('partials/footer'); %> -->
  </body>
</html>
