<!DOCTYPE html>
<html>
  <head>
    <title>Confirmação de conta em VolunteeringIPS</title>
    <meta charset="UTF-8" />
  </head>

  <body
    style="
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    "
  >
    <%- include('partials/header'); %>

    <div style="padding: 25px 10px 10px 10px">
      <b style="font-size: 20px"
        >Caro <%= params.firstName %> <%= params.lastName %>,</b
      ><br /><br />
      <p style="font-size: 14px">
        Por favor digite esse token na aplicação <b><%= params.token %></b>
      </p>
      <br /><br />
      <b
        ><p>Atenciosamente,</p>
        <p>CarWashClub</p></b
      >
    </div>
    <%- include('partials/footer'); %>
  </body>
</html>
